<?xml version="1.0" encoding="UTF-8"?>
<service id="evernote">
  <type>sharing</type>
  <name>Evernote Developer Sandbox</name>
  <icon>evernote</icon>
  <provider>evernote</provider>
  <translations>account-plugins</translations>
</service>
