[Desktop Entry]
Name=reminders-app
Comment=My project description
Exec=/usr/bin/qmlscene $@ /usr/share/reminders-app/reminders-app.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Ubuntu-Touch=true
