Source: ubuntu-settings-components
Section: misc
Priority: optional
Maintainer: Andrea Cimitan <andrea.cimitan@canonical.com>
Build-Depends: cmake,
               debhelper (>= 9),
               pkg-config,
               qml-module-qtquick-layouts,
               qt5-default,
               qtbase5-private-dev,
               qtdeclarative5-dev,
               qtdeclarative5-dev-tools,
               qtdeclarative5-qtquick2-plugin,
               qtdeclarative5-quicklayouts-plugin,
               qtdeclarative5-test-plugin,
               qtdeclarative5-ubuntu-ui-toolkit-plugin (>= 1.1) | qtdeclarative5-ubuntu-ui-toolkit-plugin-gles (>= 1.1),
               suru-icon-theme,
Standards-Version: 3.9.4
Homepage: https://launchpad.net/ubuntu-settings-components
# If you don't have have commit access to this branch but would like to upload
# directly to Ubuntu, don't worry: your changes will be merged back into the
# upstream branch
Vcs-Bzr: lp:ubuntu-settings-components
X-Ubuntu-Use-Langpack: yes

Package: qtdeclarative5-ubuntu-settings-components
Architecture: any
Multi-Arch: same
Pre-Depends: dpkg (>= 1.15.6~)
Depends: gsettings-ubuntu-schemas (>= 0.0.7),
         qml-module-biometryd,
         qml-module-qtquick-layouts,
         qtdeclarative5-gsettings1.0 (>=0.1+14.10.20140801.1),
         qtdeclarative5-ubuntu-ui-toolkit-plugin (>= 1.1) | qtdeclarative5-ubuntu-ui-toolkit-plugin-gles (>= 1.1),
         suru-icon-theme,
         ${misc:Depends},
         ${shlibs:Depends},
Breaks: qtdeclarative5-ubuntu-settings-components-assets (<< 0.3),
Replaces: qtdeclarative5-ubuntu-settings-components-assets (<< 0.3),
Description: Ubuntu Settings Components
 Ubuntu settings components for Unity
