#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCLICK_MODE=OFF

override_dh_install:
	# Make sure the dh-exec variable expansion works
	chmod a+x debian/account-plugin-evernote.install
	dh_install --fail-missing
