#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
		-DEVERNOTE_SANDBOX_CONSUMER_KEY="ubuntu" \
		-DEVERNOTE_SANDBOX_CONSUMER_SECRET="44f8ee81a8359500" \
		-DEVERNOTE_CONSUMER_KEY="canonicalis" \
		-DEVERNOTE_CONSUMER_SECRET="174a72ce5bffbcad"

override_dh_install:	
	dh_install --fail-missing
